.continent-box{
    background-color:white;
    border-radius:10px;
    padding:5px; 
    min-height: 420px;
    user-select: none;
    .box-img {
        img {
            width: 100%;
        }
    }
        .box-title h5{
            padding:10px;
            font-size:18px;
            font-weight:bold;
        }
        .box-list{
            ul{
            font-size:16px;
            padding:10px;
            list-style:none;
                li{
                    line-height: 40px;
                    color: #808080;
                    cursor: pointer;
                    // &:hover { text-decoration: underline;    }
                }
            }
        }
}
