<div class="companies-info mt-3 ml-3 p-3">
        <div class="companies-container d-flex justify-content-between align-items-center p-0">
                <div class="companies-search-bar  search-bar">
                        <input type="text" class="form-control" placeholder="Search">
                        <img src="assets/img/208.svg" alt="">
                </div>
            <div class="companies-sort">
                <a href="#">Most Recent</a>
            </div>
        </div>



        <div class="row companies-list-header d-flex justify-content-between mt-3 align-items-center p-2">
                <div class="col-3">Company</div>
                <div class="col-1">Jobs</div>
                <div class="col-2">Email</div>
                <div class="col-2">Phone</div>
                <div class="col-2">Source</div>
                <div class="col-2">Actions</div>
        </div>




 </div>